.block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1em;
}

.components-range-control {
  width: 100%;
}
.has-text-align-left {
  text-align: left;
  width: 100%;
}

.wp-block-sprayloc-slanted-container {
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   -webkit-clip-path: polygon(0 0, 0 50%, 100% 100%, 100% 0);
  //   clip-path: polygon(0 0, 0 calc(100% - 50px), 100% 100%, 100% 0);

  //   margin-top: -50px;
  //   transform: translateY(50px);
  overflow-y: unset;
  // z-index: 10 !important;

  p {
    max-width: 580px;
    margin-top: 50px;

    margin-top: 20px;
  }

  img {
    display: block;
    width: 200px;
    height: auto;
    object-fit: contain;

    max-width: 200px !important;

    .float-left {
      float: left;
    }
  }

  .title {
    font-size: 6em !important;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1em !important;
  }
  .overlay {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    // background-color: green;
  }
}
